/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: black; */
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    /* background-color: #f4f4f4; */
    /* background-color: black; */
    color: black;
    /* color: white; */
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

/* Header */
header {
    /* background: linear-gradient(to right, #4facfe, #00f2fe); */
    /* color: white; */
    padding: 100px 0;
    text-align: center;
}

header h1 {
    font-size: 3em;
    margin-bottom: 10px;
}

header p {
    font-size: 1.2em;
}

/* About Section */
.about {
    /* background: #fff; */
    padding: 50px 0;
    text-align: center;
}

.about h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.about p {
    font-size: 1.1em;
    color: #555;
    line-height: 1.8;
}

/* Services Section */
.services {
    /* background-color: #e9ecef; */
    padding: 50px 0;
    text-align: center;
}

.services h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.cards {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.card {
    /* background: white; */
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 30%;
}

.card h3 {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 15px;
}

.card p {
    font-size: 1em;
    color: #666;
}

/* Footer */
footer {
    background: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

footer p {
    font-size: 1em;
}
#img {
    height: 50px;
    width: 50px;
    /* background-color: red; */
    position: absolute;
    top: 20px;
    right: 30px;
    /* background-image: url("moon1.png"); */
    background-image: url("sun1.png");
    background-size: cover;
}
